@import './../../styles/base.less';
@side-margin: 2rem;

.description {
  padding-top: 3em;
  margin: 0 @side-margin;
  min-height: 100vh;
  font-size: 1.5em;
  font-family: 'DM Sans', sans-serif;

  @media screen and (max-width: @sm){
    font-size: 1.5em;
  }
  
  .description-content {
    display: inline-flex;
    align-items: center;
    padding-bottom: 1em;
    justify-content: center;

    .text{
      width: 55vw - @side-margin;
      padding-right: 5vw;
      font-size: 1em;
    }
    .description-image {
      max-width: 40vw - @side-margin;
      max-height: 60vh;
      @media screen and (max-width: @sm){
        display: none;
      }
    }
  }
}
